<div class="row">
    <div class="col-xs-12 col-sm-6 col-title text-center">
        <img src="~/images/poster.png" alt="Ghost Box Movie Poster" class="img-fluid" width=65%>
    </div>
    <div class="col-xs-12 col-sm-6 col-pad-top text-center">
        <img src="~/images/ghostboxtitle.png" alt="Ghost Box Title" class="img-fluid" width=65%>
    </div>
    <div class="col-xs-12 col-sm-6 col-pad-bottom text-center">
        <a href="https://www.brownpapertickets.com/event/3589275" class="btn btn-white">Buy Tickets</a>
    </div>
</div>
<!-- About -->
<div id="about" class="row row-white row-padding">
    <div class="col-xs-12 text-center">
        <h1 class="h1-header text-uppercase">About</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <p>We live in an age where technology is a constant in our lives. Relying on machines to better suit our needs. We’ve reached a new age where impossibilities are suddenly in our grasp. Advancements in science have opened doors to spiritual connections.</p>
        <p>What happens when the lines are blurred? When the human obsessions attracts the unnatural?</p>
        <p>A young independent woman faced with a tragedy, desperately turns to paranormal outreaching to make contact with her recently diseased mother. With the help of her loyal co-worker and a ghost box, they attempt a real time spirit world communication. Not considering the consequences, their journey spirals into a macabre experience. How far would you go, to once again, speak to your loved ones?</p>
        <h3>Feeling paranormally curious?</h3>
    </div>
</div>
<!-- Trailer -->
<div id="trailer" class="row row-padding-top">
    <div class="col-xs-12 text-center">
        <h1 class="h1-header-offset text-uppercase">Trailer</h1>
    </div>
</div>
<div class="row row-padding-bottom">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/272688658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>
<!-- Cast & Crew -->
<div id="cast&crew" class="row row-white row-padding">
    <div class="col-xs-12 text-center">
        <h1 class="h1-header text-uppercase">Cast <span class="span-grey">Crew</span></h1>
    </div>
    <!-- Alicia Frame -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/aliciaframe.jpg" alt="Headshot Alicia Frame" class="img-fluid img-circle" width=70% >
        <h2 class="text-uppercase">Alicia <span class="span-grey">Frame</span></h2>
        <h3><em>Lead Actress</em></h3>
        <!-- Button trigger modal -->
        <a href="#AliciaFrame" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm8960200/?ref_=nmbio_bio_nm" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="AliciaFrame">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Alicia Frame</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Alicia Frame has been an active member of various theatre communities since the age of 6. She graduated from SUNY Genseo with her B.F.A. in psychology and anthropology. Coming from Skaneateles, New York , she currently resides in Chicago, IL and is pursuing acting in theatre, T.V. and Film. Theatre credits include WIT (Vivian Bearing), Romeo And Juliet (Nurse), Anything Goes (Chastity), and Moon Over Buffalo(Rosalind). On screen credits include Ghost Box (Eve), Living In The Moment (Tara Rose), and Daisy’s Way Home (Ariel). Alicia also enjoys boating, playing soccer, traveling, and physical training.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Randy Bernales -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/randybernales.jpg" alt="Headshot Randy Bernales" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Randy <span class="span-grey">Bernales</span></h2>
        <h3><em>Lead Actor</em></h3>
        <!-- Button trigger modal -->
        <a href="#RandyBernales" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm3151776/bio?ref_=nm_ov_bio_sm" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="RandyBernales">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Randy Bernales</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Randy Bernales is an actor/model from Chicago. He studied music at the Illinoi State University in 2010. Since he’s appeared in many productions including film, television, theatre, commercials, internet and on print. He's known for Heavens to Besty 2 (2018), WaMahyaya 3 (2015), and State of Romance (3009). This is Randy's second display_biolaboration with NXT Level Productions as leading actor, first being on Solved (2016). His many talents include general sports, bodybuilding, swimming playing guitar and keyboards, and singing and weapons training.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Erik Papucci -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/papucci.png" alt="Headshot Erik Papucci" class="img-fluid img-circle" width=66%>
        <h2 class="text-uppercase">Erik <span class="span-grey">Papucci</span></h2>
        <h3><em>Actor / Writer</em></h3>
        <!-- Button trigger modal -->
        <a href="#ErikPapucci" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm9232756/?ref_=ttfc_fc_cl_t3" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="ErikPapucci">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Erik Papucci</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ghostbox is Erik’s debut in both screenwriting and film acting. He was involved with Oakton Community display biolege’s theater department. Erik’s first time on stage was during the one-act, “The Wrong Clown” with the role of the clown. Soon after he procured the role of Fyedka, in OCC’s production of “Fiddler On The Roof.” Erik has also assisted Next Level Productions with sound work and GRIP, along with helping film musical performances with some of Chicago’s local bands. In Ghostbox, Erik plays the eccentric and slightly unstable Zak Puff. Erik has always found a certain passion with live performance and entertainment and hopes to pursue further projects in future Next Level Productions’ endeavors.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Rob Williams -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/robwilliams.jpg" alt="Headshot Rob Williams" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Rob <span class="span-grey">Williams III</span></h2>
        <h3><em>Actor</em></h3>
        <!-- Button trigger modal -->
        <a href="#RobWilliams" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm6432232/" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="RobWilliams">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Rob Williams III</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Rob G. Williams III is known for his work in theater pieces as: Fiddler on The Roof (2010)(Nachum), Urinetown (2011)(Robbie The Stockfish), Cat on a Hot Tin Roof (2013)(Reverend Tooker), Bloody Bloody Andrew Jackson (2014)(John Calhoun), Julius Ceasar (2016)(Artemidorus/Lucilius). He's also been seen on the web series Café Kremlin (2014/2015)(Money Man/Russian Soldier). Rob studied acting at Oakton Community College. As a big fan of the cinemas, Rob is looking forward to appearing in "Ghost Box" 2018 feature film. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Donovan Deleon -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/donovandeleon.jpg" alt="Headshot Donovan Deleon" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Donovan <span class="span-grey">Deleon</span></h2>
        <h3><em>Actor</em></h3>
        <!-- Button trigger modal -->
        <a href="#DonovanDeleon" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm9245818/?ref_=ttfc_fc_cr16" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="DonovanDeleon">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Donovan Deleon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Donovan DeLeon's experiences include: Production Team Leader at Grunt Style,  Liqour Clerk at Binny's Beverage Depot, and Actor at House of Torment Haunted Houses Chicago. He’s known for his directing work for “Larry Broke the Window” and “Rumbecks Code” at the Play on Festival. Donovan studied film and attained a theatre concentration certificate at Oakton Community College in Des Plaines, Illinois. His passion is working on sets and plans to start his own production company in the future.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Asta Razma -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/astarazma.jpg" alt="Headshot Asta Razma" class="img-fluid img-circle" width=66%>
        <h2 class="text-uppercase">Asta <span class="span-grey">Razma</span></h2>
        <h3><em>Actress</em></h3>
        <!-- Button trigger modal -->
        <a href="#AstaRazma" data-toggle="modal" class="btn btn-black">About</a>
        <a href="http://www.imdb.com/name/nm5681986/?ref_=fn_al_nm_1" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="AstaRazma">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Asta Razma</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Asta Razma is a Chicago based actress who fell into acting when she was cast for a ‘real medical’ BG role on FOX’s Mob Doctor in 2012. Since then she was cast in a supporting role for a stage production, Bloody Haymarket and a reality show food judge in Best In Chow, Burger Wars on the Cooking Channel, and various other movies.Asta is currently pursuing her acting bug in various Chicago productions and commercials and is thrilled to be part of this short film Scandalous.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ric Morgan -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/ricmorgan.jpg" alt="Headshot Ric Morgan" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Ric <span class="span-grey">Morgan</span></h2>
        <h3><em>Actor</em></h3>
        <!-- Button trigger modal -->
        <a href="#RicMorgan" data-toggle="modal" class="btn btn-black">About</a>
        <a href="http://www.imdb.com/find?ref_=nv_sr_fn&q=Ric+Morgan&s=all" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="RicMorgan">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ric Morgan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ric Morgan is an actor and producer, known for Redemption Ave. (2012), Mr Goodman (2012) and Mission Italian (2015). He embarked on his career in film as screen actor in 2011,and is honored to have portrayed a wide variety of characters in a fast-growing number of films, shorts, industrials and commercials. He has also done print, radio, and voice-over work. As a lifelong film buff, Ric made filmmaking his new endeavor, and quest. Now he's thrilled to be involved in the art of bringing a story to life on-screen, and also works behind the camera as producer and script consultant of independent feature films.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Michal Jarzabek -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/michaljarzabek.jpg" alt="Headshot Michal Jarzabek" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Michal S. <span class="span-grey">Jarzabek</span></h2>
        <h3><em>Director / Co-Writer</em></h3>
        <!-- Button trigger modal -->
        <a href="#MichalJarzabek" data-toggle="modal" class="btn btn-black">About</a>
        <a href=" http://www.imdb.com/name/nm7947350/?ref_=nv_sr_1" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="MichalJarzabek">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Michal Jarzabek</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Michal Szymon Jarzabek's journey as an artist began since childhood. His affair with movies started when he saw Lion King in the theatre for the first time at the age of four. Since then he's been captivated by movies, their magic, and their power to inspire.Michal has studied theatre, acting and photography at Oakton Community College,then digital filmmaking at the Illinois Art Institute. Along side his knowledge, Michal gained professional experience interning for Boom Thrift Production Company. Michal Szymon Jarzabek is the Creative Director at NXT Level Productions. His previous credits include Director of Photography of Solved (2017). He's been featured as an extra in multiple episodes of a Chicago web-series The Dreamers (2016). Along with his acting credits, Michal has partaken in the production of a Short Narrative film The Attic (2016).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ben David Garza -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/bengarza.png" alt="Headshot Ben Garza" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Ben David <span class="span-grey">Garza</span></h2>
        <h3><em>Executive Producer</em></h3>
        <!-- Button trigger modal -->
        <a href="#BenGarza" data-toggle="modal" class="btn btn-black">About</a>
        <a href="http://www.imdb.com/name/nm5708547/" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="BenGarza">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ben David Garza</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ben David Garza is a producer and business executive based in Chicago. Ben David is Managing Director at NXT Level Productions. His previous executive producer credits include Solved (2017) and Bloody Haymarket (2016). He has been featured on Chicago Magazine and Red Eye among other publications. Along with his acting credits, Ben David has starred in many Short Narrative film and has guest stared in numerous network series. Ben David holds a Bachelor Degrees and a Master's Degree in Administration.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jacob Jones -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/jacobjones.png" alt="Headshot Jacob Jones" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Jacob A. <span class="span-grey">Jones</span></h2>
        <h3><em>Light Design</em></h3>
        <!-- Button trigger modal -->
        <a href="#JacobJones" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm6829128/?ref_=ttfc_fc_cr11" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="JacobJones">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Jacob Allen Jones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Jacob, directed his first movie “Scandalous” in 2017. He's also worked on IMDB credited NEFAS: The Demon Within (2014) by Zoe and Pebbles Productions as a grip/gaffer. Also know for his Assistant Director work on The Judas Run by Sigsaly productions (2016) Currently works for the Oakton Community College Theatre Department as stage design and lighting crew. He will continue his work on film.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Holly Harder -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/hollyharder.jpg" alt="Headshot Holly Harder" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Holly <span class="span-grey">Harder</span></h2>
        <h3><em>Makeup Artist</em></h3>
        <!-- Button trigger modal -->
        <a href="#HollyHarder" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm9232796/?ref_=ttfc_fc_cr8" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="HollyHarder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Holly Harder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Holly’s life long passion is for the arts. Her specialties are in Makeup Artistry. She’s experienced in Glamour Makeup, and dabbled in SFX and Costume Makeup. Her work can be seen on her YouTube channel, Holly Harder Beauty, where she posts video makeup tutorials, lifestyles, and DIY’s. Her current pursuit in Film Makeup has been one of her favorite career experiences.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ryan Harder -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/ryanharder.png" alt="Headshot Ryan Harder" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Ryan M. <span class="span-grey">Harder</span></h2>
        <h3><em>Sound Design</em></h3>
        <!-- Button trigger modal -->
        <a href="#RyanHarder" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm3929371/?ref_=ttfc_fc_cr10" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="RyanHarder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ryan Harder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ryan M. Harder is an Awarded Film Composer, Professional Sound Mixer/Designer and an Art Curator.Sound and Art have always been a major interest in his life, starting in elementary school with drawing and painting. Then in high school he worked for several live audio visual companies. After moving to the city, he started networking, experiencing and improving his craft in both areas. His work expanded to Live Bands, Film/Video, Music Production, Gallery/Exhibit Installs, Corporate AV and Apps. Ryan hopes to always find new ways to implement his ever expanding knowledge, passion for Sound Design and Art to help others grow in their own creativity and innovations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Matt Kott -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/mattkot.jpg" alt="Headshot Matt Kot" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Matthew <span class="span-grey">Kot</span></h2>
        <h3><em>Set Photographer</em></h3>
        <!-- Button trigger modal -->
        <a href="#MattKot" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm7947351/?ref_=ttfc_fc_cr12" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="MattKot">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Matthew Kot</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Matthew Kot fell in love with the film scene his sophomore year in high school being involved in a music video. His last two years he studied broadcasting and operating video cameras. After high school Matt turned to photography. As a graduation present his parents got him a Nikon d40x dslr camera. Soon after that photography became his favorite hobby. Matt studied photography at Oakton Community College along with Photoshop classes. He's been involved in a few film projects among the years, as on set photographer for Solved (2016), and he's been credited camera assistant for The Attic (2016) Matt wants to build up his character, become more open minded,  and accomplish a lot more in the creative aspect in photography making him stand out in the art world. Progress is what makes him push forward, and he hopes of one day being one of the most unique well known photographers in the Chicago land area. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Karlon McGruder -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/karlonmcgruder.jpg" alt="Headshot Karlon McGruder" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Karlon D. <span class="span-grey">McGrudder</span></h2>
        <h3><em>Camera Assistant / Music Producer</em></h3>
        <!-- Button trigger modal -->
        <a href="#KarlonMcGrudder" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm9232840/?ref_=ttfc_fc_cr14" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="KarlonMcGrudder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Karlon D. McGrudder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Karlon D. McGruder or KKRAZY501 is an Entrepreneur and CEO of Krush Dem ReKordz, Rapper | Songwriter | Actor | Director | Producer | Writer | Play-writer | Poet. Born in Little Rock, Arkansas. Currently Residing in Chicago, Illinois. Dedicated to his family and dreams, he travels to different cities creating new art, music, and content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Lukasz Dziewiatkowski -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/lukaszdziewiatkowski.jpg" alt="Headshot Lukasz Dziewiatkowski" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Lukasz <span class="span-grey">Dziewiatkowski</span></h2>
        <h3><em>Grip</em></h3>
        <!-- Button trigger modal -->
        <a href="#LukaszD" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm9232768/?ref_=ttfc_fc_cr17" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="LukaszD">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Lukasz Dziewiatkowski</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lukasz Dziewiatkowski is a filmmaker born in Chicago, IL. Lukasz has grown up watching YouTube, which has inspired him to make his own films. Currently he is a film student at Lawrence University where he has made a several short films, one of which has recently been shown at the ACM Film Festival. He has also worked as a Grip on the set of "Ghost Box," (2018) and as a cameraman for NXT Level Production. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- William Cheuh -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/williamcheuh.jpg" alt="Headshot William Cheuh" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">William <span class="span-grey">Cheuh</span></h2>
        <h3><em>Cinematography</em></h3>
        <!-- Button trigger modal -->
        <a href="#WillCheuh" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm7979236/" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="WillCheuh">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">William Cheuh</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>William was born in Taipei, Taiwan, where his journey in media began. He studied at the Nanhau University. His training ranges from camera operator, set lighting, sound production and motorbike racing. Will lives in Chicago, where he continues his passion for media. He’s known for IMBD credited work: “Upload Me” ,  Imago (2018), and Ghost Box (2018).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tom Bednarz -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/tombednarz.jpg" alt="Headshot Tom Bednarz" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Tom <span class="span-grey">Bednarz</span></h2>
        <h3><em>Production Designer</em></h3>
        <!-- Button trigger modal -->
        <a href="#TomBednarz" data-toggle="modal" class="btn btn-black">About</a>
        <!-- Modal -->
        <div class="modal fade" id="TomBednarz">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tom Bednarz</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Tom grew up in Avondale, Chicago (the house the movie was filmed in). Moved to Park Ridge in 7th grade, graduating a Maine South Hawk. He later went to ITT Tech to get a degree in Computer Electronic Engineering. He moved back to his childhood home back in 2014 and began renovating the home with the help of his father and fiance, Sabrina. His hobbies include brewing beer, home renovations & building things, gardening, golfing and hiking with his dog Emmy and fiance. He’s currently the IT Director for a luxury home textile manufacturer here in Chicago, Eastern Accents.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sabrina Mejicanos -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/sabrinamejicanos.jpg" alt="Headshot Sabrina Mejicanos" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Sabrina <span class="span-grey">Mejicanos</span></h2>
        <h3><em>Costume Designer</em></h3>
        <!-- Button trigger modal -->
        <a href="#SabrinaMejicanos" data-toggle="modal" class="btn btn-black">About</a>
        <a href="https://www.imdb.com/name/nm9232766/?ref_=ttfc_fc_cr6" class="btn btn-imdb">IMDb</a>
        <!-- Modal -->
        <div class="modal fade" id="SabrinaMejicanos">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sabrina Mejicanos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Sabrina grew up in River Grove, then moved to Park Ridge in 8th grade, graduating a Maine South Hawk. She studied for three months in Cozumel, Mexico to become a certified Naui Scuba Instructor. Her hobbies include interior design, fashion, working out, scuba diving, golf and any other outdoor activities. She’s currently a Graphic Designer for a luxury home textile manufacturer here in Chicago, Eastern Accents.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery -->
<div id="gallery" class="row row-padding">
     <div class="col-xs-12 text-center">
        <h1 class="h1-header-offset text-uppercase">Gallery</h1>
    </div>
    <div class="carousel slide" data-ride="carousel" id="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide to="1" class="active"></li>
            @for(int i = 2; i < 39; i++)
            {
                <li  data-slide to="@i"></li>
            }
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/gallery/1.jpg" alt="Image 1">
            </div>
            @for(int j = 2; j < 39; j++)
            {
                string src = $"{j}.jpg";
                <div class="item">
                    <img src="~/images/gallery/@src" alt="Image @j">
                </div>   
            }
        </div>
        <a class="carousel-control left" href="#carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<!-- Extras -->
<div id="extras" class="row row-white row-padding">
    <div class="col-xs-12 text-center">
        <h1 class="h1-header text-uppercase">Extras</h1>
    </div>
    <div class="col-xs-12 text-center">
        <h2>Production Notes</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <p>Ghost Box the movie began with an obsession for the paranormal. Communication with the spirit world has been a peculiar curiosity for many, especially the writers Erik Papucci and Michal Jarzabek.</p>
        <p>After months of paranormal research and experiments, the script was in the works. Thanks to Tom Bednarz and Sabrina Majicanos who donated their home, the location was secured.  In the mean time, NXT Level Productions casted Chicago Actors while the script was getting finalized.</p>
        <p>Once the cast and crew were assembled, the first shoot date was scheduled for Saturday August 26-27, 2017. The filming then continued the following week on September 1-4 for a total of six days. The day came with great excitement; new and old friends came together as a team to follow their passions, working hard to make the vision of Ghost Box come to life.</p>
        <p>The movie was shot with five cameras total: Panasonic GH5, two Sony ax6300, Air Mavric and Phantom Standard 3. Some scenes were filmed with multiple cameras. Equipment varied from stabilizers, jibs, tripods and drones. Lighting design was accomplished with a mix of practical, gobo, and LED lights. Location audio was recorded with a Zoom H6.</p>
        <p>After the initial shoot dates, the filming of movie was not finished. The total time of production was roughly a year. Post-production was done on Premier for video and Pro Tools for sound. In addition, the movie is formatted to 5.1 surround sound. The movie “Ghost Box” runs a total of 64 minutes and is an experimental indie film crossing over three genres: Thriller, Comedy and Drama.</p>
    </div>
    <div class="col-xs-12 text-center">
        <h2>Electronic Press Kit</h2>
        <p><strong>Film Title: </strong>Ghost Box</p>
        <h1><span><a href="https://www.imdb.com/title/tt7304498/?ref_=fn_al_tt_1"><i class="fab fa-imdb"></i></a></span></h1>
        <p><strong>Country of Production: </strong>USA (Chicago, Illinois)</p>
        <p><strong>Film Completion: </strong>July 2018</p>
        <p><strong>Run Time: </strong>64 mins</p>
        <p><strong>Exhibition Capture Format: </strong>QuickTime / HDV</p>
        <p><strong>Sound Format: </strong>Stereo</p>
        <p><strong>Drive: </strong>Custom - H.264</p>
        <p><strong>Film Festivals: </strong>TBA</p>
        <p><strong>Presented By: </strong>Nxt Level Productions, LLC</p>
        <p><strong>Production Credits: </strong></p>
        <p><em>Director - Michal Jarzabek</em></p>
        <p><em>Written By - Erik Papucci</em></p>
        <p><em>Executive Producer - Ben David Garza</em></p>
        <p><em>Cinematography - William Chueh</em></p>
        <p><em>Edited By - Michal Jarzabek</em></p>
        <p><em>Sound & Music - Ryan Harder</em></p>
        <p><em>Script Supervisor - Donovan DeLeon</em></p>
        <p><em>Production Assistant - Lukasz Diewiatkowski</em></p>
        <p><em>Still Photography - Matthew Kot & Karlon McGruder</em></p>
        <p><em>Makeup - Holly Harder</em></p>
        <p><em>Production Design - Sabrina Mejicanos</em></p>
        <p><em>Camera / Electrical - Matthew Kot & Jacob Allen Jones</em></p>
        <p><strong>Cast:</strong></p>
        <p><em>Alica Frame - Eve</em></p>
        <p><em>Randy Bernales - Brad</em></p>
        <p><em>Donovan DeLeon - Incubus</em></p>
        <p><em>Erik Papucci - Zak Puff</em></p>
        <p><em>Rob Williams - Delivery Man</em></p>
        <p><em>Ric Morgan - Dad</em></p>
        <p><em>Asta Razma - Mom</em></p>
    </div>
</div>