<div class="row">
    <div class="col-xs-12 text-center">

    </div>
</div>
<!-- About -->
<div id="about" class="row row-white row-padding">
    <div class="col-xs-12 text-center">
        <h1 class="h1-header text-uppercase">About</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <p>We live in an age where technology is a constant in our lives. Relying on machines to better suit our needs. We’ve reached a new age where impossibilities are suddenly in our grasp. Advancements in science have opened doors to spiritual connections.</p>
        <p>What happens when the lines are blurred? When the human obsessions attracts the unnatural?</p>
        <p>A young independent woman faced with a tragedy, desperately turns to paranormal outreaching to make contact with her recently diseased mother. With the help of her loyal co-worker and a ghost box, they attempt a real time spirit world communication. Not considering the consequences, their journey spirals into a macabre experience. How far would you go, to once again, speak to your loved ones?</p>
        <h3>Feeling paranormally curious?</h3>
    </div>
</div>
<!-- Trailer -->
<div id="trailer" class="row row-padding-top">
    <div class="col-xs-12 text-center">
        <h1 class="h1-header-offset text-uppercase">Trailer</h1>
    </div>
</div>
<div class="row row-padding-bottom">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/272688658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>
<!-- Cast & Crew -->
<div id="cast&crew" class="row row-white row-padding">
    <div class="col-xs-12 text-center">
        <h1 class="h1-header text-uppercase">Cast <span class="span-grey">Crew</span></h1>
    </div>
    <!-- Alicia Frame -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/aliciaframe.jpg" alt="Headshot Alicia Frame" class="img-fluid img-circle" width=70% >
        <h2 class="text-uppercase">Alicia <span class="span-grey">Frame</span></h2>
        <h3><em>Lead Actress</em></h3>
        <!-- Button trigger modal -->
        <a href="#AliciaFrame" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="AliciaFrame">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Alicia Frame</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Alicia Frame has been an active member of various theatre communities since the age of 6. She graduated from SUNY Genseo with her B.F.A. in psychology and anthropology. Coming from Skaneateles, New York , she currently resides in Chicago, IL and is pursuing acting in theatre, T.V. and Film. Theatre credits include WIT (Vivian Bearing), Romeo And Juliet (Nurse), Anything Goes (Chastity), and Moon Over Buffalo(Rosalind). On screen credits include Ghost Box (Eve), Living In The Moment (Tara Rose), and Daisy’s Way Home (Ariel). Alicia also enjoys boating, playing soccer, traveling, and physical training.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Randy Bernales -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/randybernales.jpg" alt="Headshot Randy Bernales" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Randy <span class="span-grey">Bernales</span></h2>
        <h3><em>Lead Actor</em></h3>
        <!-- Button trigger modal -->
        <a href="#RandyBernales" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="RandyBernales">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Randy Bernales</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Randy Bernales is an actor/model from Chicago. He studied music at the Illinoi State University in 2010. Since he’s appeared in many productions including film, television, theatre, commercials, internet and on print. He's known for Heavens to Besty 2 (2018), WaMahyaya 3 (2015), and State of Romance (3009). This is Randy's second display_biolaboration with NXT Level Productions as leading actor, first being on Solved (2016). His many talents include general sports, bodybuilding, swimming playing guitar and keyboards, and singing and weapons training.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Erik Papucci -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/papucci.png" alt="Headshot Erik Papucci" class="img-fluid img-circle" width=66%>
        <h2 class="text-uppercase">Erik <span class="span-grey">Papucci</span></h2>
        <h3><em>Actor / Writer</em></h3>
        <!-- Button trigger modal -->
        <a href="#ErikPapucci" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="ErikPapucci">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Erik Papucci</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ghostbox is Erik’s debut in both screenwriting and film acting. He was involved with Oakton Community display biolege’s theater department. Erik’s first time on stage was during the one-act, “The Wrong Clown” with the role of the clown. Soon after he procured the role of Fyedka, in OCC’s production of “Fiddler On The Roof.” Erik has also assisted Next Level Productions with sound work and GRIP, along with helping film musical performances with some of Chicago’s local bands. In Ghostbox, Erik plays the eccentric and slightly unstable Zak Puff. Erik has always found a certain passion with live performance and entertainment and hopes to pursue further projects in future Next Level Productions’ endeavors.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Rob Williams -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/robwilliams.jpg" alt="Headshot Rob Williams" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Rob <span class="span-grey">Williams</span></h2>
        <h3><em>Actor</em></h3>
        <!-- Button trigger modal -->
        <a href="#RobWilliams" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="RobWilliams">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Rob Williams</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Donovan Deleon -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/donovandeleon.jpg" alt="Headshot Donovan Deleon" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Donovan <span class="span-grey">Deleon</span></h2>
        <h3><em>Actor</em></h3>
        <!-- Button trigger modal -->
        <a href="#DonovanDeleon" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="DonovanDeleon">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Donovan Deleon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Asta Razma -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/astarazma.jpg" alt="Headshot Asta Razma" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Asta <span class="span-grey">Razma</span></h2>
        <h3><em>Actress</em></h3>
        <!-- Button trigger modal -->
        <a href="#AstaRazma" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="AstaRazma">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Asta Razma</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Asta Razma is a Chicago based actress who fell into acting when she was cast for a ‘real medical’ BG role on FOX’s Mob Doctor in 2012. Since then she was cast in a supporting role for a stage production, Bloody Haymarket and a reality show food judge in Best In Chow, Burger Wars on the Cooking Channel, and various other movies.Asta is currently pursuing her acting bug in various Chicago productions and commercials and is thrilled to be part of this short film Scandalous.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ric Morgan -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/ricmorgan.jpg" alt="Headshot Ric Morgan" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Ric <span class="span-grey">Morgan</span></h2>
        <h3><em>Actor</em></h3>
        <!-- Button trigger modal -->
        <a href="#RicMorgan" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="RicMorgan">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ric Morgan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ric Morgan is an actor and producer, known for Redemption Ave. (2012), Mr Goodman (2012) and Mission Italian (2015). He embarked on his career in film as screen actor in 2011,and is honored to have portrayed a wide variety of characters in a fast-growing number of films, shorts, industrials and commercials. He has also done print, radio, and voice-over work. As a lifelong film buff, Ric made filmmaking his new endeavor, and quest. Now he's thrilled to be involved in the art of bringing a story to life on-screen, and also works behind the camera as producer and script consultant of independent feature films.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Michal Jarzabek -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/michaljarzabek.png" alt="Headshot Michal Jarzabek" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Michal S. <span class="span-grey">Jarzabek</span></h2>
        <h3><em>Director / Co-Writer</em></h3>
        <!-- Button trigger modal -->
        <a href="#MichalJarzabek" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="MichalJarzabek">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Michal Jarzabek</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Michal Szymon Jarzabek's journey as an artist began since childhood. His affair with movies started when he saw Lion King in the theatre for the first time at the age of four. Since then he's been captivated by movies, their magic, and their power to inspire.Michal has studied theatre, acting and photography at Oakton Community display_biolege,then digital filmmaking at the Illinois Art Institute. Along side his knowledge, Michal gained professional experience interning for Boom Thrift Production Company. Michal Szymon Jarzabek is the Creative Director at NXT Level Productions. His previous credits include Director of Photography of Solved (2017). He's been featured as an extra in multiple episodes of a Chicago web-series The Dreamers (2016). Along with his acting credits, Michal has partaken in the production of a Short Narrative film The Attic (2016).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ben David Garza -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/bengarza.png" alt="Headshot Ben Garza" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Ben David <span class="span-grey">Garza</span></h2>
        <h3><em>Executive Producer</em></h3>
        <!-- Button trigger modal -->
        <a href="#BenGarza" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="BenGarza">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ben David Garza</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ben David Garza is a producer and business executive based in Chicago. Ben David is Managing Director at NXT Level Productions. His previous executive producer credits include Solved (2017) and Bloody Haymarket (2016). He has been featured on Chicago Magazine and Red Eye among other publications. Along with his acting credits, Ben David has starred in many Short Narrative film and has guest stared in numerous network series. Ben David holds a Bachelor Degrees and a Master's Degree in Administration.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jacob Jones -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/jacobjones.png" alt="Headshot Jacob Jones" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Jacob A. <span class="span-grey">Jones</span></h2>
        <h3><em>Light Design</em></h3>
        <!-- Button trigger modal -->
        <a href="#JacobJones" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="JacobJones">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Jacob Allen Jones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Holly Harder -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/hollyharder.jpg" alt="Headshot Holly Harder" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Holly <span class="span-grey">Harder</span></h2>
        <h3><em>Makeup Artist</em></h3>
        <!-- Button trigger modal -->
        <a href="#HollyHarder" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="HollyHarder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Holly Harder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>I have had a lifetime passion for the arts, and I specialize in Makeup Artistry. I have most of my experience in Glamour Makeup but have dabbled in SFX and Costume Makeup. I have a YouTube channel Holly Harder Beauty, where I post video makeup tutorials, lifestyle, and DIY’s. My husband is in the film industry and has helped me break into Film Makeup, and it has been one of my favorite career experiences.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ryan Harder -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/ryanharder.png" alt="Headshot Ryan Harder" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Ryan M. <span class="span-grey">Harder</span></h2>
        <h3><em>Sound Design</em></h3>
        <!-- Button trigger modal -->
        <a href="#RyanHarder" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="RyanHarder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ryan Harder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ryan M. Harder is an Awarded Film Composer, Professional Sound Mixer/Designer and an Art Curator.Sound and Art have always been a major interest in his life, starting in elementary school with drawing and painting. Then in high school he worked for several live audio visual companies. After moving to the city, he started networking, experiencing and improving his craft in both areas. His work expanded to Live Bands, Film/Video, Music Production, Gallery/Exhibit Installs, Corporate AV and Apps. Ryan hopes to always find new ways to implement his ever expanding knowledge, passion for Sound Design and Art to help others grow in their own creativity and innovations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Matt Kott -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/mattkot.jpg" alt="Headshot Matt Kot" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Matthew <span class="span-grey">Kot</span></h2>
        <h3><em>Set Photographer</em></h3>
        <!-- Button trigger modal -->
        <a href="#MattKot" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="MattKot">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Matthew Kot</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Matthew Kot fell in love with the film scene his sophomore year in high school being involved in a music video. His last two years he studied broadcasting and operating video cameras. After high school Matt turned to photography. As a graduation present his parents got him a Nikon d40x dslr camera. Soon after that photography became his favorite hobby. Matt studied photography at Oakton Community display_biolege along with photoshop classes. He's been involved in a few film projects among the years, as on set photographer for Solved (2016), and he's been credited camera assistant for The Attic (2016) Matt wants to build up his character, become more open minded,  and accomplish a lot more in the creative aspect in photography making him stand out in the art world. Progress is what makes him push forward, and he hopes of one day being one of the most unique well known photographers in the Chicago land area. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Karlon McGruder -->
    <div class="col-xs-12 col-sm-4 text-center col-margin-btm">
        <img src="~/images/headshots/karlonmcgruder.jpg" alt="Headshot Karlon McGruder" class="img-fluid img-circle" width=70%>
        <h2 class="text-uppercase">Karlon D. <span class="span-grey">McGrudder</span></h2>
        <h3><em>Camera Assistant / Music Producer</em></h3>
        <!-- Button trigger modal -->
        <a href="#KarlonMcGrudder" data-toggle="modal" class="btn btn-black">Biography</a>
        <!-- Modal -->
        <div class="modal fade" id="KarlonMcGrudder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Karlon D. McGrudder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Karlon D. McGruder or KKRAZY501 is an Entrepreneur and CEO of Krush Dem ReKordz, Rapper | Songwriter | Actor | Director | Producer | Writer | Play-writer | Poet. Born in Little Rock, Arkansas. Currently Residing in Chicago, Illinois. Dedicated to his family and dreams, he travels to different cities creating new art, music, and content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery -->
<div id="gallery" class="row row-padding">
     <div class="col-xs-12 text-center">
        <h1 class="h1-header-offset text-uppercase">Gallery</h1>
    </div>
    <div class="carousel slide" data-ride="carousel" id="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide to="1" class="active"></li>
            @for(int i = 2; i < 39; i++)
            {
                <li  data-slide to="@i"></li>
            }
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/gallery/1.jpg" alt="Image 1">
            </div>
            @for(int j = 2; j < 39; j++)
            {
                string src = $"{j}.jpg";
                <div class="item">
                    <img src="~/images/gallery/@src" alt="Image @j">
                </div>   
            }
        </div>
        <a class="carousel-control left" href="#carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<!-- Extras -->
<div id="trailer" class="row row-white row-padding">
    <div class="col-xs-12 text-center">
        <h1 class="h1-header text-uppercase">Extras</h1>
    </div>
</div>